<h1>Listing Annotations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Mark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annotations.each do |annotation| %>
      <tr>
        <td><%= annotation.mark %></td>
        <td><%= link_to 'Show', submission_annotation_path(@submission, annotation) %></td>
        <td><%= link_to 'Edit', edit_submission_annotation_path(@submission, annotation) %></td>
        <td><%= link_to 'Destroy',  submission_annotation_path(@submission, annotation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annotation', new_submission_annotation_path(@submission), class: "btn btn-default btn-xs" %>
