<script type="text/javascript">
  $(document).ready(function(){
	var sketch = new Sketch("canvas");
	var a = <%= @annotation.sketch.to_json.gsub(/\"/, "") %>;
	sketch.loadJSON(a);
  });
</script>
<div class="row">
	<div class="col-md-8">
		<canvas id="canvas" width="800" height="1123" style="background: url(<%= @submission.pages[0].url %>) no-repeat"></canvas>
	</div>

	<div class="col-md-4">
		<p>
			<h1 style="text-align: center;"><%= @submission.roll %> </h1>	
		</p>
		<p>
  			<strong>Mark:</strong>
  			<%= @annotation.mark %>
		</p>
		<p>	
			<strong>Remark</strong>
			<%= @annotation.comment %> 
		</p>
	</div>
</div>


<%= link_to 'Edit', edit_submission_annotation_path(@submission, @annotation), class: "btn btn-info btn-xs" %> |
<%= link_to 'Back', submission_annotations_path(@submission), class: "btn btn-success btn-xs" %>
